.output-formats-select,
.output-formats-button {
    display: inline-block;
    margin-bottom: .5rem;
    width: auto;
}

.output-formats-select {
    margin-right: .25rem;
}

.sidebar .output-formats-select {
    width: auto;
}

.browse .output-formats-selector {
    display: flex;
    flex-wrap: wrap;
    float: right;
}

.browse .output-formats-selector h4 {
    display: none;
}